@font-face {
  font-family: 'Vazir';
  src: url('./assets/fonts/Vazir-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Vazir';
  background-color:#ECECEC;
}
#root {
  height: 100%;
  width: 100%;
  margin: 0 0 ;
  padding: 2rem;
  text-align: center;
}
